/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* light modus */
	--color-text:#01001b;
	--color-background:white;
    --font-family: sans-serif;
}

@media (prefers-color-scheme:dark) {
    :root {
    /* Dark modus*/
	--color-text:white;
    --color-background:#01001b;
    }
}





/****************/
/* JOUW STYLING */
/****************/

body {
    background: var(--color-background);
    /* clamp(min, val, max) */
    font-size: clamp(0.5rem, 1.1vw, 1.1rem); 
}

/* HEADER */

header {
    text-align: center;
}

header h1 {
    color: var(--color-text);
    font-family: var(--font-family);
}

header h1::before {
    content: '🎮';
}

header h1::after {
    content: '🕹️';
}

header:hover h1 {
    color: var(--color-text);
    font-family: var(--font-family);

    animation-name: bewegen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bewegen {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}

/* FILTER */

main section {
    text-align: center;
}

main label {
    color: var(--color-text);
    font-family: var(--font-family);
}

ul.people li:not(.survival) {
    display:none;
}
  
ul.animals li:not(.battleroyale) {
    display:none;
}

/* EERSTE SECTION (ul) */

main section:nth-of-type(1) h2 {
    display: flex;
    justify-content: center;

    color: var(--color-text);
    font-family: var(--font-family);

    padding-top: 1em;
    margin-bottom: 2em;
}

main section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19.2em, 1fr));
    list-style:none;
    padding-top: 1em;
    padding-left: 0;
}

main section:nth-of-type(1) ul:empty::before {
    content: 'Remove Items';
    color: var(--color-text);
}

main section ul li {
    display:grid;
    justify-content: center;
    cursor:grab;
}

li.sortable-ghost {
    opacity:.50;
}

main section:nth-of-type(1) ul li::after {
    content: 'Buy Now';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

/* IMAGES */

main section ul li img {
    width: 19em;
    padding-bottom: 1em;
    border-radius: 2em;
}

/* TWEEDE SECTION (UL) */

main section:nth-of-type(2) h2 {
    display: flex;
    justify-content: center;

    color: var(--color-text);
    font-family: var(--font-family);

    margin-bottom: 2em;
}

main section:nth-of-type(2) ul:empty::after {
    content: '+ add your favorite games';
    color: var(--color-text);
}

/* GAMES ARTIKELEN */

main section:nth-of-type(2) ul li:nth-of-type(1)::after {
    content: 'ARTIKEL 1';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

main section:nth-of-type(2) ul li:nth-of-type(2)::after {
    content: 'ARTIKEL 2';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

main section:nth-of-type(2) ul li:nth-of-type(3)::after {
    content: 'ARTIKEL 3';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

main section:nth-of-type(2) ul li:nth-of-type(4)::after {
    content: 'ARTIKEL 4';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

main section:nth-of-type(2) ul li:nth-of-type(5)::after {
    content: 'ARTIKEL 5';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

main section:nth-of-type(2) ul li:nth-of-type(6)::after {
    content: 'ARTIKEL 6';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

main section:nth-of-type(2) ul li:nth-of-type(7)::after {
    content: 'ARTIKEL 7';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

main section:nth-of-type(2) ul li:nth-of-type(8)::after {
    content: 'ARTIKEL 8';
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--color-text);
}

/* DERDE SECTION */

main section:nth-of-type(3) h2 {
    display: flex;
    justify-content: center;

    color: var(--color-text);
    font-family: var(--font-family);

    padding-top: 2em;
    margin-bottom: 2em;
}

main section:nth-of-type(3) article li iframe {
    border: none;
}

.swiper-button-prev,
.swiper-button-next {
  border:none;
  background:none;
}