/* CSS Document */

/*********/
/* FONTS */
/*********/

@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* light modus */
	--color-text:#01001b;
	--color-background:white;
    --font-family: sans-serif;
}

@media (prefers-color-scheme:dark) {
    :root {
    /* Dark modus*/
	--color-text:white;
    --color-background:#01001b;
    }
}



/****************/
/* JOUW STYLING */
/****************/

body {
    background-color: var(--color-background);
    /* MET CLAMP KAN JE AANGEVEN WAT HET MINIMUM EN MAXIMUM 
    GROTE IS VAN DE ELEMENTEN DIE JE WILT LATEN MEE SCALEN */
    font-size: clamp(0.7rem, 1.2vw, 3rem); 
}

/* MAIN */

main {
    overflow: hidden;
    text-align: center;
}

/* HEADER HOOFDSTUK 1 */

main header h1 {
    color: var(--color-text);
    font-family: var(--font-family);
}

header h1::before {
	content: '🎮';
}

header h1::after {
	content: '🕹️';
}

header:hover h1 {
	color: var(--color-text);
	font-family: var(--font-family);

	animation-name: groot-klein;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes groot-klein {
	0% {
			transform: scale(0);
	}
	50% {
			transform: scale(1.5);
	}
	100% {
			transform: scale(0);
	}
}

/* MAIN HOOFDSTUK 2 */

main section h2 {
    color: var(--color-text);
    font-family: var(--font-family);

    padding-top: 1em;
    padding-bottom: 1em;
}

/* FILTER */

main div {
    padding-top: 2em;
}

main div input {
    margin: 0;
}

main div label {
    color: var(--color-text);
    font-family: var(--font-family);
    padding-left: 1em;
    padding-right: 1em;
}

/* UL  */

main section ul {
    display: flex;
    overflow: scroll;
    padding: 0;
    gap: 1em;

    list-style: none;
}

main section:nth-of-type(2) ul {
    height: 17.5em;
}

main section ul::-webkit-scrollbar{
    display: none;
}

ul.people li:not(.survival) {
    display:none;
}
  
ul.animals li:not(.battleroyale) {
    display:none;
}

main section ul li {
    /* ELEMENTEN DIE RELATIVE GEPOSITIONEERD ZIJN,
    KUNNEN BEWEGEN TERWIJL ZE IN FLOW BLIJVEN */
    position: relative;
}

/* SECTION 3 */

main section:nth-of-type(3) ul li {
    animation: autoscroll 25s linear infinite;
}

@keyframes autoscroll {
    from {
      left: 0%;
    }
    to {
      left: -370%;
    }
}

main section ul li.not_draggable::after {
    content: 'COMING SOON';
    
    /* ELEMENTEN MET ABSOLUTE KOMEN BOVEN OF ONDER ELKAAR */
    position: absolute;
    left: 2em;
    bottom: 2em;

    color: var(--color-text);
    font-family: var(--font-family);
}

/* IMG */

main section ul li img {
    width: 19em;
    font-size: clamp(0.8rem, 1.2vw, 2rem); 
}

main section ul li.not_draggable img {
    opacity: 0.2;
}


@media (width > 35em) {

    main {
        display: grid;
        /* DE GRID-TEMPLATE-COLUMNS EIGENSCHAP SPECIFICEERT 
        HET AANTAL KOLOMMEN IN EEN RASTER-LAYOUT */
        grid-template-columns: 1fr 1fr; /* 1 FRICTIE */
    }

    main section ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* ALIGN-CONTENT SPECIFICEERT HOE FLEXLIJNEN WORDEN VERDEELD */
        /* ELMENTEN WORDEN NAAR DE START VAN DE CONTAINER GEPLAATST */
        align-content: start;
        /* DEFAULT IS STRETCH (ALLE RUIMTE VULLEN)*/
        gap: unset;
        height: 55em;
    }

    main section:nth-of-type(2) ul {
        height: 55em;
    }

    main section:nth-of-type(3) {
        display: none;
    }

    main section ul li {
        padding-bottom: 1em;
    }

    main section:nth-of-type(3) ul li {
        animation: unset;
    }

    main section ul li img {
        width: 19em;
        font-size: clamp(0.4rem, 1.2vw, 2rem); 
    }
}