/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
    font-family: 'unibetfont';
    src: url('../fonts/unibetfont.woff2');
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* light modus */
	--color-text: white;
    --text-bg: green;
    --color-body: white;
    --color-handle: black; 
}

@media (prefers-color-scheme:dark) {
    :root {
    /* Dark modus*/
    --color-body: black;
    --color-handle: white; 
}}





/****************/
/* JOUW STYLING */
/****************/

body {
	display:grid;

    font-size:clamp(1em, 12vmin, 16em);

    background-color: var(--color-body);
    color: var(--color-text);
    font-family: 'unibetfont';
}

/* H1 */

h1 {
    display: flex;
    justify-content: center;

    overflow: hidden;
    height: 1em;

    gap: 0.2em;
}

/* H1 AFTER (POOK) */

h1::after {
    content: '';

    width: 0.1em;
    height: 1em;

    background-color: var(--color-handle);
}

/* POOK HOVER */

h1:hover::after {
    animation-name: trekken;
    animation-duration: 0.7s;
}

/* SPAN 1 */

span:nth-of-type(1) {
    text-align: center;

    background-color: var(--text-bg);

    width: 1em;
    height: 1em;
}

/* HOVER SPAN 1 */

h1:hover span:nth-of-type(1) {
    animation-name: rolling;
    animation-duration: 3s;
}

/* SPAN 2 */

span:nth-of-type(2) {
    text-align: center;

    background-color: var(--text-bg);

    width: 1em;
    height: 1em;
}

/* HOVER SPAN 2 */

h1:hover span:nth-of-type(2) {
    animation-name: rolling;
    animation-duration: 3s;
    animation-delay: .5s;
}

/* SPAN 3 */

span:nth-of-type(3) {
    text-align: center;

    background-color: var(--text-bg);

    width: 1em;
    height: 1em;
}

/* HOVER SPAN 3 */

h1:hover span:nth-of-type(3) {
    animation-name: rolling;
    animation-duration: 3s;
    animation-delay: .9s;
}

/* ANIMATION LETTERS */

@keyframes rolling {
    0% {
       transform:rotateX(0turn) rotateX(0turn) translatez(3em);
    }
    100% {
      transform:rotateX(1turn) rotateX(10turn) translatez(3em);
    }
}

/* ANIMATION POOK */

@keyframes trekken {
    0%{
      /* perspective zorgt voor 3d effect */
      transform: perspective(3em) rotateX(-10deg);
      animation-timing-function:ease-out;
    }
    50% {
      transform: perspective(3em) rotateX(-55deg);
      animation-timing-function:ease-in;
    }
    100% {
      transform: perspective(3em) rotateX(-10deg);
    }
  }
